.waiting-screen {
  height: 100vh;
  background-color: #1e2a38;
  color: #f5f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.waiting-screen h1 {
  font-size: 32px;
  margin-bottom: 10px;
}

.waiting-screen p {
  font-size: 18px;
  opacity: 0.85;
}
